#IntroPage {
background-image:
linear-gradient(to right, rgb(33, 33, 41), transparent),
url('https://occ-0-4845-116.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABbErLExppe8cUGq5f2v-mNLfo7XnBiY5svjYVcjdc5VVlt8s9Y2IDcUhpdrR84sI70xywuyoWdu0Neme9v_AWlebuZBXoz9PHcaK.jpg?r=f61');
filter:brightness(1.5);
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
height: 100vh;
background-position: 60%;
overflow: hidden;

}


.intropage__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  min-width: 500px;
  padding: 16px 32px 0 0;
  width: 35%;
  z-index: 2;
}



.intro__container {
  transform: translateY(90%);
} 

.intropage__description img {
  width: 100%;
}

.intropage__para {
  color: rgb(181, 168, 168);
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.7rem;
}



