.characters {
    border: black solid;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    width:28%;
    margin-bottom: 40px;
}

.character__description {
    padding: 12px;
    font-size: 20px;
    font-weight: 900;

}


.status {
    position: absolute;
    top:0;
    right:0;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(12, 218, 12);
    color: white;
    font-size: 18px;
    margin: 5px 5px 0 0 ;
}

img {
    width: 100%;
}

.skeleton__status {
    background-color: rgb(193, 181, 181);
    color: rgb(193, 181, 181);
}

.skeleton__image {
    background: rgb(240, 226, 226);
    width: 297.734px;
    height: 297.734px;
}

.skeleton__name,
.skeleton__species,
.skeleton__last--seen {
    color:rgb(193, 181, 181);
    background-color: rgb(193, 181, 181);
}